@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

/* sticky header */

header {
  background-color: #000;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 48px;
  /* border: 1px solid red; */

  color: #fafafa;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.sticky-header-content {
  max-width: 859px;
  width: 100%;
  min-height: 24px;
  /* border: 1px solid white; */
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.commercial {
  display: flex;
  gap: 8px;
}

.commercial p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.shop {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
}

.language-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/* header-content */

.header-content {
  /* border: 1px solid green; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 38px;
}

.header-content-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}

.nav-items {
  display: flex;
  gap: 48px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
}

.nav-items li:hover {
  text-decoration: underline;
}
.search-and-favorites {
  display: flex;
  gap: 24px;
}

.search-and-favorites form {
  background-color: #f5f5f5;
  display: flex;
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
}

.search-and-favorites form input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.icons {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.thin-line {
  margin-top: 16px;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

/* SECTION */
.menu-and-photo {
  /* border: 1px solid black; */
  display: flex;
}

.menu-list {
  /* border: 1px solid black; */
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  max-width: 233px;
  width: 100%;
  height: 384px;
  padding: 40px 16px 0px 0px;
}

.menulist-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.with-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iphone-photo-and-content {
  /* border: 1px solid black; */
  max-width: 892px;
  width: 100%;
  height: 344px;
  margin: 40px 0px 0px 45px;
  display: flex;
  background-color: #000;
}
.iphone-content {
  max-width: 392px;
  width: 100%;
  height: 344px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-left: 64px;

  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    /* text-align: center; */
  }
}

.iphone-series {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
}

.voucher h3 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 4px;
  color: #fafafa;
}

.voucher {
  margin: 22px 0px 22px 0px;
}

.shop-now {
  display: flex;
  gap: 8px;
}

.shop-now a {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #fafafa;
  cursor: pointer;
}
.iphone-photo {
  max-width: 496px;
  width: 100%;
  height: 344px;
  background-image: url(/images/iphonephoto.svg);
}

/*  */

.today {
  /* border: 1px solid black; */
  margin-top: 140px;
  min-height: 493px;
  margin-bottom: 60px;
}
.timer {
  /* border: 1px solid black; */
  min-height: 103px;
  position: relative;
  margin-top: 80px;
}

.gogia {
  width: 100%;
  position: relative;
}

.today-sales-clock {
  /* border: 1px solid rgb(199, 20, 20); */
  max-width: 600px;
  width: 100%;
  min-height: 103px;
  position: relative;
}

.sales {
  /* border: 1px solid green; */
  /* width: 211px; */
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  h1 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    position: absolute;
    bottom: 0;
  }
}

.orange-color {
  width: 20px;
  height: 40px;
  opacity: 1;
  border-radius: 4px;
  background-color: #db4444;
  margin-right: 16px;
}

.sales h3 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #db4444;
  margin-top: 10px;
}

.clock {
  /* border: 1px solid green; */
  max-width: 302px;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin-top: 50px;
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46px;
}

.label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #000000;
  width: 31px;
  height: 18px;
  text-align: center;
  margin-bottom: 4px;
}

.value {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #000000;
  width: 46px;
  height: 28px;
  text-align: center;
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 26px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #e07575;
  border-radius: 50%;
}

.arrows {
  width: 100px;
  height: 46px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 8px;
}

.arrows div {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrows img {
  width: 16px;
  height: 14px;
  border-width: 2px;
  position: absolute;
}

.cards {
  /* border: 1px solid black; */
  min-height: 350px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.card-fotos {
  /* border: 1px solid rgb(199, 20, 20); */
  width: 270px;
  height: 350px;
}

.foto {
  /* border: 1px solid green; */
  width: 100%;
  height: 250px;
  padding: 12px 12px 0px 12px;
  position: relative;
  background-color: #f5f5f5;
  /* background-image: url(/images/joystick.png); */
  background-repeat: no-repeat;
  background-position: center;
}

.foto {
  position: relative;
}

.add-to-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 41px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 41px;
  font-weight: 500;
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: opacity 0.3s ease;
  z-index: 10;
  cursor: pointer;
}

.foto:hover .add-to-cart {
  opacity: 1;
}

.desc {
  margin-top: 16px;
}

.desc h3 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.desc p {
  margin: 8px 0px 8px 0px;
}

.red {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #db4444;
}

.gray {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: line-through;
  opacity: 50%;
}
.stars {
  display: flex;
  p {
    margin-left: 8px;
  }
}
.discount p {
  font-family: Poppins;
  width: 55px;
  height: 26px;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #fafafa;
  padding: 4px 12px;
  background-color: #db4444;
  border-radius: 4px;
}

.heart-eye {
  /* border: 1px solid green; */
  width: 34px;
  height: 76px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.product-btn {
  margin: auto;
  text-align: center;
  font-family: Poppins;
  max-width: 234px;
  width: 100%;
  height: 56px;
  font-weight: 500;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fafafa;
  padding: 16px 48px;
  background-color: #db4444;
  border-radius: 4px;
  margin-bottom: 60px;
  margin-top: 60px;
  cursor: pointer;
}

/* Category */

.wrapper {
  width: 100%;
  height: 145px;
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.category-cards {
  border: 1px solid #0000004d;
  width: 170px;
  height: 145px;
  opacity: 1;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  img {
    width: 56px;
    height: 56px;
    color: #000;
  }

  p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.category-cards:hover {
  background-color: #db4444;
  box-shadow: 0px 1px 13px 0px #0000000d;

  p {
    color: #fafafa;
  }
}

.view-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 159px;
  height: 56px;
  opacity: 1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db4444;

  a {
    color: #fafafa;
  }
}

/* music box */

.music-box {
  width: 100%;
  min-height: 500px;
  margin-top: 140px;
  background-color: #000;
  display: flex;
  padding: 69px 60px 69px 56px;
}

.music-box-desc {
  display: flex;
  flex-direction: column;
  gap: 35px;
  p {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #00ff66;
  }

  h3 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4px;
    color: #fafafa;
  }

  a {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
    background-color: #00ff66;
    padding: 16px 48px;
    border-radius: 4px;
    width: 171px;
    cursor: pointer;
  }
}

.wrapper-circles {
  display: flex;
  gap: 24px;
}

.circles {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #fff;
}
